<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Menu</li>
            <li><a href="/home"><i
                    class=" mdi mdi-view-dashboard"></i> <span
                    class="nav-text">Dashboard</span></a>
            </li>


            <li><a class="has-arrow" href="#" aria-expanded="false"><i
                    class="mdi mdi-chart-bar"></i> <span
                    class="nav-text">Manage Branch</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="/load_branch">Add Branch</a>
                    </li>
                    <li><a href="/admin/view_branch">View Branch</a>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow" href="#" aria-expanded="false"><i
                    class="mdi mdi-email"></i> <span
                    class="nav-text">Camera</span></a>
                <ul aria-expanded="false">
                    <li><a href="/loadcamera">Add Camera</a>
                    </li>
                    <li><a href="/admin/view_camera">View Camera</a>
                    </li>
                </ul>
            </li>

            <li><a class="has-arrow" href="#" aria-expanded="false"><i
                    class="mdi mdi-table-edit"></i> <span
                    class="nav-text">Detection</span></a>
                <ul aria-expanded="false">
                    <li><a href="/load_detection">Add Detection</a>
                    </li>
                    <li><a href="/admin/view_detection">View Detection</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- #/ nk nav scroll -->
</div>